* {
    margin: 0;
}

html {
    height: 100%;
    overflow-x: hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
background-color: #FFFCF2;
height: 100%;
}

ul {
    padding-left: 0;
}

hr {
    height: 2px;
    background-color: black;
    border: none;
}

.pageWrap {
    min-height: 100%;
    margin-bottom: -169px;
}

.pageWrap:after {
    content: "";
    display: block;
}

.pageWrap:after {
    height: 169px;
}

.navbar {
    display: flex;
    height: 45px;
    justify-items: start;
    justify-content: space-between;
    padding: 8px;
    align-items: center;
    font-size: 20px;
    z-index: -5;
    background: #003F5A;
}

button {
    background: none;
    border: none;
}

#skeans {
    position: absolute;
    left: 5px;
    top: 10px;
    font-size: 28px;
    font-weight: bold;
    color: #F0E3C8;
}

#logo {
    position: absolute;
    top: 40px;
    left: 5px;
    width: 90px;
    height: 5px;
}

#navbarContact {
    width: 50px;
    border-radius: 50%;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;

}

#navbarContact:hover {
    transform: scale(1.1);
}




.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 10;
    background: linear-gradient(-16deg, rgb(240, 240, 240) 38%, rgba(165, 165, 165, 0.61) 20%, white 30%);
    padding: 20px;
    width: 90%;
    max-width: 90%;
    height: 90%;
    transition: 500ms ;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

.modal.active {
    transform: translate(-50%, -50%) scale(1);
    animation: fadeIn .5s;
    -webkit-animation: fadeIn .5s;
    -moz-animation: fadeIn .5s;
    -o-animation: fadeIn .5s;
    -ms-animation: fadeIn .5s;
}

.modalHeader {
    font-size: 40px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
}

.modalExit {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 50px;
    font-weight: bold;
    width: 40px;
}

.modalExit:hover {
    transform: scale(1.1);
}

.emailMe {
    display: flex;
    height: 70vh;
    align-items: center;
    justify-content: center;
}

.modalEmail {
    font-weight: bold;
    font-size: 80px;
}

#modalEmail {
    color: black;
}

#modalEmail:hover {
    color: #FFBC40;
    text-decoration: underline;
}

.modalSocials {
    position: absolute;
    bottom: 10%;
    right: 0;
    left: 0;
    margin: auto;
    width: 85px;
}

.socialsTitle {
    position: absolute;
    bottom: 19%;
    right: 0;
    left: 0;
    margin: auto;
    width: 48px;
}


#overlay {
    z-index: 9;
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

@media only screen and (max-width: 760px) {
     #navbarContact{
        width: 40px;
        top: 10px;
    }
}

@media only screen and (max-width: 760px) {
    .socials {
        display:none;
    }
}

@media only screen and (max-width: 950px) {
    .modalEmail {
        font-size:40px;
    }
}

@media only screen and (max-width: 460px) {
    .modalEmail {
        font-size:28px;
    }
}

@media only screen and (max-width: 1372px) {
    .graphic1 {
        display:none;
    }
}

@media only screen and (max-width: 1150px) {
    .graphic {
        display:none;
    }
}

@media only screen and (max-width: 4000px) {
    #repositoryTitle {
        display:none;
    }
}

@media only screen and (max-width: 4000px) {
    #liveWebsiteTitle {
        display:none;
    }
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #193241;
}

#github {
    width: 40px;
    margin-bottom: 10px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
#modalGithub {
    width: 40px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 50%;

}

#github:hover {
    transform: scale(1.05);
}

#github-footer {
    width: 40px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 50%;
}

#linkedin {
    width: 40px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 50%;
}

#modalLinkedin {
    width: 40px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 50%;
}

.repository:hover {
    transform: scale(1.05)
}

.live-website:hover {
    transform: scale(1.05)
}

#github-footer:hover {
    transform: scale(1.05);
}

#linkedin:hover {
    transform: scale(1.05);
}


.aboutWrap {
    height: 90vh;
    min-height: 770px;
    background: #F0E3C8;
}

.about {
    display: flex;
    flex-wrap: wrap-reverse;
    padding: 15px;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin-top: 20px;
}


.projects-title {
    padding: 30px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: black;
    padding-top: 40px;
}

.projectsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    grid-gap: 30px;
    padding-bottom: 50px;
    width: 1500px;
    max-width: 95%;
}

#profile-desktop {
  width: 400px;
  height: 400px;
  z-index: 5;
}

@media only screen and (max-width: 1049px) {
    .desktop-padding {
        display:none;
    }
}

@media only screen and (max-height: 780px) {
    .desktop-padding {
        display:none;
    }
}


@media only screen and (min-width: 1249px) {
    #profile-desktop {
        width: 400px;
        height: 400px;
    }
}

@media only screen and (max-width: 1057px) {
    #profile-desktop {
        width: 300px;
        height: 300px;
    }
}

@media only screen and (max-width: 650px) {
    #profile-desktop {
        width: 300px;
        height: 300px;
    }
}

@media only screen and (min-width: 1249px) {
    #big-name {
        font-size: 70px;
    }
    
}

@media only screen and (max-width: 500px) {
    #bio {
        display: none;
    }
    
}

@media only screen and (max-width: 500px) {
    #project-title {
        font-size: 25px;
    }
    
}




.bio {
    padding-top: 15px;
    font-size: 20px;
    color: black;
}

.title {
    display: grid;
    grid-template-columns: 75% 25%;
    padding-top: 10px;
    font-size: 25px;
    color: black;
}
.big-name {
    font-size: 40px;
    font-weight: bold;
    color: black;
}

.cv1 {
    height: 50px;
    width: 133.5px;
}

#resume {
    height: 50px;
    padding-top: 20px;
}

.cv1:hover {
    transform: scale(1.02);
}

.about-container {
    display: flex;
    width: 600px;
    max-width: 95%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-radius: 10px;
    padding: 10px;
    padding-right: 20px;
    padding-top: 40px;
    gap: 30px;
}


.projectImage {
    max-width: 100%;
    max-height: 100%;
    filter: brightness(70%);
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);

}


#projectImage:hover {
    color:#FFBC40;
}

.project1 {
    width: 1100px;
    padding: 10px;
    border-radius: 10px;
    position: relative;

}

.project2 {
    width: 1100px;
    padding: 10px;
    border-radius: 10px;
    position: relative;


}

.project3 {
    width: 1100px;
    padding: 10px;
    border-radius: 10px;
    position: relative;

}

.project4 {
    width: 1100px;  
    padding: 10px;
    border-radius: 10px;
    position: relative;

}

.project-title {
    font-size: 35px;
    font-weight: bold;
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: #193241;
    padding: 2px;
    border-radius: 10px;
    color: #F0E3C8;
}

#project-github {
    width: 40px;
}

#project-website {
    width: 40px;

}


.repository {
    display: grid;
    grid-template-columns: 1fr auto;
    font-size: 25px;
    align-items: center;
    justify-items: start;
    justify-content: start;
    position: absolute;
    bottom: 50px;
    right: 0%;
    background:#193241;
    padding: 2px;
    border-radius: 50%;
}

.live-website {
    display: grid;
    grid-template-columns: 1fr auto;
    padding-top: 10px;
    font-size: 25px;
    align-items: center;
    justify-items: start;
    justify-content: start;
    position: absolute;
    bottom: 0%;
    right: 0%;
    background:#193241;
    padding: 2px;
    border-radius: 50%;
}

.projectWebsiteIcon {
    border-radius: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.footer {
    background-color: #193241;
    color: white;
    font-size: 20px;
    padding: 15px;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 69px;
}