* {
    margin: 0;
}

html {
    height: 100%;
    overflow-x: hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
background-color: #f3f3f3;
height: 100%;
}

ul {
    padding-left: 0;
}

.pageWrap {
    min-height: 100%;
    margin-bottom: -169px;
}

.pageWrap:after {
    content: "";
    display: block;
}

.pageWrap:after {
    height: 169px;
}

.navbar {
    display: flex;
    justify-items: start;
    justify-content: space-between;
    padding: 150px;
    padding-top: 20px;
    padding-bottom: 0;
    align-items: center;
    font-size: 20px;
}

#skeans {
    font-weight: bold;
    font-size: 40px;
    color: #1c1d25;
    /*background-color: #6b6e70;*/
    transform: skewx(-10deg);
    padding: 1px;
    padding-left: 6px;
    padding-right: 6px;
}

#navbarContact {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    background: none;
    border: none;
    cursor: pointer;
    color: #1c1d25;    
}

#navbarContact:hover {
    transform: scale(1.1);
}

#vl1 {
    border: 8px solid #628F8C;
    height: 162px;
    width: 40px;
    border-radius: 30px;
    position: absolute;
    top: -50px;
    right: 5px;
}
#vl2 {
    border: 8px solid #8DB3A0;
    height: 40px;
    width: 40px;
    border-radius: 30px;
    position: absolute;
    top: 135px;
    right: 5px;
}
#vl3 {
    border: 8px solid #436B75;
    height: 162px;
    width: 40px;
    border-radius: 30px;
    position: absolute;
    top: -80px;
    right: 70px;
}

#vl4 {
    border: 8px solid #2F4858;
    height: 162px;
    width: 40px;
    border-radius: 30px;
    position: absolute;
    top: 105px;
    right: 70px;
}

#vl5 {
    border: 8px solid #628F8C;
    height: 162px;
    width: 40px;
    border-radius: 30px;
    position: absolute;
    top: 200px;
    right: 5px;
}

#vl6 {
    border: 8px solid #8DB3A0;
    height: 40px;
    width: 40px;
    border-radius: 30px;
    position: absolute;
    top: 290px;
    right: 70px;
}

#vl7 {
    border: 8px solid #436B75;
    height: 162px;
    width: 40px;
    border-radius: 30px;
    position: absolute;
    top: 385px;
    right: 5px;
}

#vl8 {
    border: 8px solid #628F8C;
    height: 40px;
    width: 40px;
    border-radius: 30px;
    position: absolute;
    top: 570px;
    right: 5px;
}

#vl9 {
    border: 8px solid #2F4858;
    height: 162px;
    width: 40px;
    border-radius: 30px;
    position: absolute;
    top: 633px;
    right: 5px;
}

#vl10 {
    border: 8px solid #628F8C;
    height: 162px;
    width: 40px;
    border-radius: 30px;
    position: absolute;
    top: 353px;
    right: 70px;
}

#vl11 {
    border: 8px solid #436B75;
    height: 162px;
    width: 40px;
    border-radius: 30px;
    position: absolute;
    top: 538px;
    right: 70px;
}


.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 10;
    background: linear-gradient(-16deg, rgb(240, 240, 240) 38%, rgba(165, 165, 165, 0.61) 20%, white 30%);
    padding: 20px;
    width: 90%;
    max-width: 90%;
    height: 90%;
    transition: 500ms ;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

.modal.active {
    transform: translate(-50%, -50%) scale(1);
    animation: fadeIn .5s;
    -webkit-animation: fadeIn .5s;
    -moz-animation: fadeIn .5s;
    -o-animation: fadeIn .5s;
    -ms-animation: fadeIn .5s;
}

.modalHeader {
    font-size: 40px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
}

.modalExit {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 50px;
    font-weight: bold;
    width: 40px;
}

.modalExit:hover {
    transform: scale(1.1);
}

.emailMe {
    display: flex;
    height: 70vh;
    align-items: center;
    justify-content: center;
}

.modalEmail {
    font-weight: bold;
    font-size: 80px;
}

#modalEmail {
    color: black;
}

#modalEmail:hover {
    color: #193241;
    text-decoration: underline;
}

.modalSocials {
    position: absolute;
    bottom: 10%;
    right: 0;
    left: 0;
    margin: auto;
    width: 85px;
}

.socialsTitle {
    position: absolute;
    bottom: 19%;
    right: 0;
    left: 0;
    margin: auto;
    width: 48px;
}


#overlay {
    z-index: 9;
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

@media only screen and (max-width: 760px) {
    #skeans {
        font-size:22px;
    }
}

@media only screen and (max-width: 760px) {
    .socials {
        display:none;
    }
}

@media only screen and (max-width: 950px) {
    .modalEmail {
        font-size:40px;
    }
}

@media only screen and (max-width: 460px) {
    .modalEmail {
        font-size:28px;
    }
}

@media only screen and (max-width: 1372px) {
    .graphic1 {
        display:none;
    }
}

@media only screen and (max-width: 1150px) {
    .graphic {
        display:none;
    }
}

@media only screen and (max-width: 2000px) {
    #repositoryTitle {
        display:none;
    }
}

@media only screen and (max-width: 2000px) {
    #liveWebsiteTitle {
        display:none;
    }
}

@media only screen and (max-width: 1100px) {
    #navbar {
        padding: 20px;
    }
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #f3f3f3;
}

#github {
    width: 40px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 3px black;
    border-radius: 10px;
}
#modalGithub {
    width: 40px;
    box-shadow: 0px 0px 3px black;
    border-radius: 10px;

}

#github:hover {
    transform: scale(1.05);
}

#github-footer {
    width: 40px;
    box-shadow: 0px 0px 3px black;
    border-radius: 10px;
}

#linkedin {
    width: 40px;
    box-shadow: 0px 0px 3px black;
    border-radius: 10px;
    color: black;
}

#modalLinkedin {
    width: 40px;
    box-shadow: 0px 0px 3px black;
    border-radius: 10px;
    color: black;
}

.repository:hover {
    transform: scale(1.05)
}

.live-website:hover {
    transform: scale(1.05)
}

#github-footer:hover {
    transform: scale(1.05);
}

#linkedin:hover {
    transform: scale(1.05);
}


.aboutWrap {
    height: 100vh;
    background-color: #edeae5;
}

.about {
    display: flex;
    flex-wrap: wrap-reverse;
    padding: 15px;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin-top: 20px;
}


.projects-title {
    padding: 30px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #1c1d25;
    padding-top: 40px;
}

.projectsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    grid-gap: 30px;
    padding-bottom: 50px;
    width: 1500px;
    max-width: 95%;
}

#profile-desktop {
    background: linear-gradient(-16deg, #1c1d25 40%, #2F4858, #8DB3A0 );
  border-radius: 50%;  
  width: 300px;
  height: 300px;
  z-index: 5;
}

@media only screen and (max-width: 1049px) {
    .desktop-padding {
        display:none;
    }
}

@media only screen and (min-width: 1249px) {
    #profile-desktop {
        width: 400px;
        height: 400px;
    }
}

@media only screen and (max-width: 650px) {
    #profile-desktop {
        width: 200px;
        height: 200px;
    }
}

@media only screen and (min-width: 1249px) {
    #big-name {
        font-size: 70px;
    }
    
}

@media only screen and (max-width: 500px) {
    #bio {
        display: none;
    }
    
}

@media only screen and (max-width: 500px) {
    #project-title {
        font-size: 25px;
    }
    
}

@media only screen and (max-width: 500px) {
    #scrollDown {
        width: 100px;
        position: absolute;
        margin: none;
        left: 70%;
        right: 0px;
        bottom: 0px;
    }
    
}

@media only screen and (max-width: 300px) {
    #scrollDown {
        display: none;
    }
    
}

.bio {
    padding-top: 15px;
    font-size: 20px;
    color: b;
}

.title {
    display: grid;
    grid-template-columns: 75% 25%;
    padding-top: 10px;
    font-size: 25px;
    color: #1c1d25;
}
.big-name {
    font-size: 40px;
    font-weight: bold;
    color: #1c1d25;
}

.cv1 {
    margin-top: 15px;
    background-color: #193241;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
    width: 162px;
    border-radius: 10px;
}

.cv1:hover {
    transform: scale(1.05);
}

.about-container {
    display: flex;
    width: 700px;
    max-width: 95%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-radius: 10px;
    padding: 10px;
    padding-top: 40px;
    gap: 30px;
}

.scrollDown {
    width: 100px;
    position: absolute;
    bottom: 0px;
    right: 0;
    left: 0;
    margin: auto;
}

.projectImage {
    max-width: 100%;
    max-height: 100%;
    filter: brightness(70%);
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);

}


#projectImage:hover {
    color:#FFBC40;
}

.project1 {
    width: 1100px;
    padding: 10px;
    border-radius: 10px;
    position: relative;

}

.project2 {
    width: 1100px;
    padding: 10px;
    border-radius: 10px;
    position: relative;


}

.project3 {
    width: 1100px;
    padding: 10px;
    border-radius: 10px;
    position: relative;

}

.project4 {
    width: 1100px;  
    padding: 10px;
    border-radius: 10px;
    position: relative;

}

.project-title {
    font-size: 35px;
    font-weight: bold;
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: #193241;
    padding: 2px;
    border-radius: 10px;
    color: #fcf8cf;
}

#project-github {
    width: 40px;
}

#project-website {
    width: 30px;

}


.repository {
    display: grid;
    grid-template-columns: 1fr auto;
    font-size: 25px;
    align-items: center;
    justify-items: start;
    justify-content: start;
    position: absolute;
    bottom: 50px;
    right: 0%;
    background:#193241;
    padding: 2px;
    border-radius: 10px;
}

.live-website {
    display: grid;
    grid-template-columns: 1fr auto;
    padding-top: 10px;
    font-size: 25px;
    align-items: center;
    justify-items: start;
    justify-content: start;
    position: absolute;
    bottom: 0%;
    right: 0%;
    background:#193241;
    padding: 2px;
    border-radius: 10px;
}

.projectWebsiteIcon {
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.footer {
    background-color: #193241;
    color: white;
    font-size: 20px;
    padding: 15px;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 69px;
}