body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
background-color: white;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 64% 12% 12% 12%;
    justify-items: stretch;
    justify-content: space-between;
    padding: 50px;
    margin-top: 20px;
    align-items: center;

}

#skeans {
    font-weight: bold;
    font-size: 40px;
    color: rgb(255, 188, 64);
}

@media only screen and (max-width: 1199px) {
    .socials {
        display:none;
    }
}

@media only screen and (max-width: 910px) {
    #navbar-about {
        display:none;
    }
}

@media only screen and (max-width: 910px) {
    #navbar-projects {
        display:none;
    }
}

@media only screen and (max-width: 760px) {
    #navbar-contact {
        display:none;
    }
}

a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

#github {
    width: 40px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 5px black;
    border-radius: 10px;
}

#github:hover {
    transform: scale(1.1);
}

#linkedin {
    width: 40px;
    box-shadow: 0px 0px 5px black;
    border-radius: 10px;
    background-color: white;
}

#linkedin:hover {
    transform: scale(1.1);
}

#project-github:hover {
    transform: scale(1.1);
}

.about {
    display: flex;
    flex-wrap: wrap-reverse;
    padding: 30px;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
}


.projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: white;
    padding: 30px;
    grid-gap: 80px;
    padding-top: 50px;
    padding-bottom: 50px;
}


ul {
    padding: 0;
    margin: 0;
    font-size: 20px;
}

#profile-desktop {
  border-radius: 50%;  
  width: 300px;
  height: 300px;
}

#profile-mobile {
    border-radius: 50%;  
    width: 270px;
    box-shadow: 0px 8px 30px black;
    margin-bottom: 30px;
  }

  /* @media only screen and (max-width: 1198px) {
    #profile-desktop {
        display:none;
    }  */

@media only screen and (min-width: 1199px) {
    #profile-mobile {
        display:none;
    }
}

.bio {
    padding-top: 15px;
    font-size: 20px;
}

.title {
    display: grid;
    grid-template-columns: 75% 25%;
    padding-top: 10px;
    font-size: 25px;
}
.big-name {
    font-size: 40px;
    font-weight: bold;
}

@media only screen and (max-width: 1199px) {
    .desktop-padding1 {
        display:none;
    }
}

@media only screen and (max-width: 1199px) {
    .desktop-padding2 {
        display:none;
    }
}

.about-container {
    display: flex;
    width: 810px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-radius: 10px;
    /* background-color: rgb(112, 112, 112); */
    padding: 30px;
    gap: 30px;
}


.project1 {
    width: 580px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px black;
    
}

.project2 {
    width: 580px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px black;

}

.project3 {
    width: 580px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px black;

}

.project4 {
    width: 580px;  
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px black;

}

.project-title {
    font-size: 35px;
    font-weight: bold;
}

#project-github {
    width: 40px;

}

.repository {
    display: grid;
    grid-template-columns: 135px 1fr;
    padding-top: 10px;
    font-size: 25px;
    align-items: center;
    justify-items: start;
    justify-content: start;
}

